<footer>
  <div class="contenedor_footer">
    <div class="footer1"></div>
    <div class="footer2"></div>
    <div class="footer3"></div>
    <div class="footer4"></div>
    <div class="footer5"></div>
    <div class="footer6"></div>
  </div>
  <ul>
    <li>Ayuda</li>
    <li>Contacto</li>
    <li>Terminos de Servicio</li>
    <li>Política de privacidad</li>
  </ul>
</footer>
