<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Headland+One&family=Henny+Penny&family=Jacques+Francois&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include("partials/nav") %>
    <main>
      <section class="contenedor1">
        <div class="contenedor_flex">
          <div class="contenido_h1">
            <h1>BIBLIOCINE</h1>
            <p>
              Disfruta de las mejores peliculas taquilleras aqui en BiblioCine
            </p>
          </div>
          <div class="imagenes">
            <img
              src="/images/new-poster-as-wallpaper-v0-oljaquwnw87e1.webp"
              alt=""
            />
            <img
              src="/images/7ed2fe4a-2799-499b-89e8-ab4f05eeb214_source-aspect-ratio_1600w_0.jpg"
              alt=""
            />
            <img src="/images/91e4d2a3ca390f5aa35fc53672aa01d4.jpg" alt="" />
            <img
              src="/images/desktop-wallpaper-disney-soul-movie-disney-pixel-soul-pixar.jpg"
              alt=""
            />
          </div>
        </div>
        <div class="contenedor_botones">
          <div class="icono">
            <i class="fas fa-arrow-right" aria-hidden="true"></i>
          </div>
          <div class="botones">
            <button class="boton-registro">Registro</button>
            <button class="boton-acceso">Acceso</button>
          </div>
        </div>
        <div class="contenedor_footer">
          <div class="footer1"></div>
          <div class="footer2"></div>
          <div class="footer3"></div>
          <div class="footer4"></div>
          <div class="footer5"></div>
          <div class="footer6"></div>
        </div>
      </section>
      <section class="contenedor2">
        <div class="header">
          <h1>ÚLTIMAS PELICULAS AÑADIDAS</h1>
        </div>
        <div class="contenido_peliculas">
          <!-- HEADER EN FORMA ZIG-->
          <div class="contenedor_header">
            <div class="header1"></div>
            <div class="header2"></div>
            <div class="header3"></div>
            <div class="header4"></div>
            <div class="header5"></div>
            <div class="header6"></div>
          </div>
          <div class="peliculas">
            <div class="pelicula">
              <div class="contenedor_imagen">
                <img
                  src="/images/new-poster-as-wallpaper-v0-oljaquwnw87e1.webp"
                  alt="Superman_imagen"
                />
              </div>
              <div class="peliculas_texto">
                <p>Superman</p>
                <h4>2023</h4>
              </div>
              <div class="peliculas_imagen">
                <button>Ver Detalle</button>
              </div>
            </div>
            <div class="pelicula">
              <div class="contenedor_imagen">
                <img
                  src="/images/7ed2fe4a-2799-499b-89e8-ab4f05eeb214_source-aspect-ratio_1600w_0.jpg"
                  alt="Minicraft_imagen"
                />
              </div>
              <div class="peliculas_texto">
                <p>Minecraft</p>
                <h4>2022</h4>
              </div>
              <div class="peliculas_imagen">
                <button>Ver Detalle</button>
              </div>
            </div>
            <div class="pelicula">
              <div class="contenedor_imagen">
                <img
                  src="/images/91e4d2a3ca390f5aa35fc53672aa01d4.jpg"
                  alt="Jumanji_imagen"
                />
              </div>
              <div class="peliculas_texto">
                <p>Jumanji</p>
                <h4>2023</h4>
              </div>
              <div class="peliculas_imagen">
                <button>Ver Detalle</button>
              </div>
            </div>
            <div class="pelicula">
              <div class="contenedor_imagen">
                <img
                  src="/images/desktop-wallpaper-disney-soul-movie-disney-pixel-soul-pixar.jpg"
                  alt="Soul_imagen"
                />
              </div>
              <div class="peliculas_texto">
                <p>Soul</p>
                <h4>2021</h4>
              </div>
              <div class="peliculas_imagen">
                <button>Ver Detalle</button>
              </div>
            </div>
          </div>
        </div>
      </section>
      <%- include("partials/footer") %>
    </main>
  </body>
</html>
